main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .output {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    background-color: gray;
  }
  
  .output-field {
    margin-right: 5px;
    font-size: 20px;
    color: #fff;
  }
  
  .flex-buttons {
    display: flex;
  }
  
  .button {
    background-color: #fff;
    padding: 20px;
    width: 100px;
    border: 1px solid rgb(219, 212, 212);
    cursor: pointer;
    font-weight: bold;
  }
  
  .button.last-column {
    background-color: rgb(255, 166, 0);
  }
  
  .button.zero {
    width: 200px;
  }